@font-face {
    font-family: 'Titillium';
    src: url('titillium-thinitalic-webfont.woff') format('woff'),
         url('titillium-thinitalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-thin-webfont.woff') format('woff'),
         url('titillium-thin-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-lightitalic-webfont.woff') format('woff'),
         url('titillium-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-light-webfont.woff') format('woff'),
         url('titillium-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-regularitalic-webfont.woff') format('woff'),
         url('titillium-regularitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-regular-webfont.woff') format('woff'),
         url('titillium-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-semibolditalic-webfont.woff') format('woff'),
         url('titillium-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-semibold-webfont.woff') format('woff'),
         url('titillium-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-bolditalic-webfont.woff') format('woff'),
         url('titillium-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-bold-webfont.woff') format('woff'),
         url('titillium-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('titillium-black-webfont.woff') format('woff'),
         url('titillium-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
