$panelpadding: 0.3em;
$panelbackgroundcolor: rgba(255,255,255,0.8);
$buttonlineheight: 1.2em;
$buttonpadding_x : 0.5em;
$buttonpadding_y : 0.2em;
$tooltipbeardlength: 0.6em;
$bodyfontfamily: "Titillium" , sans-serif;
$buttonmargin: 0.3em;
$spinner32bg: url("images/32spinneronwhite.gif") center center no-repeat;
$costplot_detailplot_height: 70%;
$costplot_shim_container_height: 10%;

header, footer, nav, section, article, figure, aside {
    display: block;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: $bodyfontfamily;
	font-weight: 600;
}

button {
	font-family: $bodyfontfamily !important;
	font-weight: 600 !important;
}

select {
	font-family: $bodyfontfamily !important;
}

h1 , h2 , h3 {
	font-family: "Playball";
	letter-spacing: -0.08em;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
}

th {
	// the html default of "bold" is a bit stupid
	font-weight: bolder;
}

.leaflet-container {
	background-color: #eee;
}

a {
	color: $TSBP_COLOR_SCHEME_secondary_a_dark;
	text-decoration: none;

	&:visited {
		color: $TSBP_COLOR_SCHEME_secondary_a_dark;
	}

	&:hover {
		text-decoration: underline;
	}
}

._costplot {
	position: absolute;
	z-index: 4000;
	bottom: 1em;
	right: 1em;
	left: 1em;
	height: 7.5em;
	overflow: hidden;

	&:before {
		display: block;
		position: absolute;
		content: "";

		left: 0;
		right: 0;
		bottom: 0;
		height: $panelpadding;
	}

	& > ._costplot_endpositioninghelper {
		&:before {
			display: block;
			position: absolute;
			content: "";

			left: 0;
			width: $panelpadding;
			bottom: $panelpadding;
			height: $panelpadding * 4;
		}

		&:after {
			display: block;
			position: absolute;
			content: "";

			right: 0;
			width: $panelpadding;
			bottom: $panelpadding;
			height: $panelpadding * 4;
			z-index: -1;
		}
	}

	@each $colorpair in $TSBP_COLOR_SCHEME {
		&._#{ nth($colorpair,1) } {
			&:before {
				background-color: nth($colorpair,2);
			}

			& > ._costplot_endpositioninghelper {
				&:before , &:after {
					background-color: nth($colorpair,2);
				}
			}

			.fillspecialize {
				fill: nth($colorpair,2) !important;
			}
		}
	}
}
	._costplot_detailplot {
		height: $costplot_detailplot_height;
		z-index: 1;
	}

	._costplot_shim_container {
		display: block;
		width: 100%;
		height: $costplot_shim_container_height;
		line-height: 0;
		z-index: -1;

		._costplot_pin_container {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			._costplot_pin_container_pin_g > * {
				transition: transform 0.1s linear;
				-moz-transition: -moz-transform 0.1s linear;
				-webkit-transition: -webkit-transform 0.1s linear;
				-o-transition: -o-transform 0.1s linear;

				transform: translate(0px,-3px);
				-moz-transform: translate(0px,-3px);
				-webkit-transform: translate(0px,-3px);
				-o-transform: translate(0px,-3px);
				-ms-transform: translate(0px,-3px);

				cursor: pointer;

				&:hover {
					transform: none;
					-moz-transform: none;
					-webkit-transform: none;
					-o-transform: none;
					-ms-transform: none;
				}
			}
		}
	}

	._costplot_overviewplot {
		height: 20%
	}

.initially_undisplayed {
	display: none;
}

._modaldialog {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;

	overflow-y: auto;

	background-color: $panelbackgroundcolor;

	._panelpositioner {
		display: table-cell;
		text-align: center;
		vertical-align: middle;

		._panel {
			display: inline-block;

			max-width: 35em;
			margin: 1em;
		
			text-align: left;

			.body {
				margin: 0.5em;
				font-weight: 500;
				
				&.form {
					& > table {
						width: 100%;
						table-layout: fixed;

						& > tbody > tr > :first-child {
							text-align: right;
							vertical-align: baseline;
						}
					}
				}
			}

			h1 , h2 , h3 {
				&:first-child {
					margin: 0 0 0.2em 0;
					padding: 0;
					font-size: 160%;
					line-height: 1em;
		
					position: relative;
		
					// so the :after doesn't end up under the panel
					z-index: 1;
		
					color: $TSBP_COLOR_SCHEME_secondary_a_base;
		
					$firstlettersize: 1.3em;
		
					&:first-letter {
						font-size: $firstlettersize;
						vertical-align: -0.18em;
		
						text-shadow: white 1px 1px , rgba($TSBP_COLOR_SCHEME_primary_dark,0.5) 2px 2px;
					}
		
					&:after {
						display: block;
						content: "";
						position: absolute;
						right: 0;
						bottom: 0;
						top: 0;
						left: $firstlettersize;
		
						background-image: url("images/singlegreenstitch.plain.svg");
						background-repeat: repeat-x;
						background-position: left bottom;
		
						z-index: -1;
					}
				}
			}
		}
	}

	&._recalculateform {
		display: none;
		z-index: 5000;
	
		&:target {
			display: table;
		}
	}

	&.solve {
		background-image:  url("images/stitchback_primary_d.plain.svg") ,
			url("images/stitchback_secondarya_u.plain.svg") ,
			url("images/stitchback_white_r.plain.svg") ,
			url("images/stitchback_complementary_u.plain.svg") ,
			url("images/stitchback_white_s.plain.svg") ,
			url("images/stitchback_secondarya_d.plain.svg") ,
			url("images/stitchback_secondaryb_d.plain.svg") ,
			url("images/stitchback_primary_u.plain.svg") ,
			url("images/stitchback_secondaryb_u.plain.svg") ,
			url("images/stitchback_complementary_d.plain.svg");
		background-repeat: repeat;

		._panelpositioner {
			background-color: $panelbackgroundcolor;
		}
	}
}

.buttonbar {
	text-align: right;

	& > :first-child {
		margin-left: 0 !important;
	}

	& > :last-child {
		margin-right: 0 !important;
	}

	// useful "contains all floats" trick
	&:after {
		content: "";
		display: block;
		visibility: hidden;
		clear: both;
	}

	.buttongroup {
		&.right {
			float: right;
			& > :last-child {
				margin-right: 0 !important;
			}
		}
		&.left {
			float: left;
			& > :first-child {
				margin-left: 0 !important;
			}
		}
	}

	a.notbutton {
		margin: 0 $buttonmargin;
		font-size: 85%;
	}
}

._solutionmasterpanel {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 15em;

	z-index: 3000;

	& > .buttonbar {
		background-image: url("images/embeddedneedle.plain.svg");
		background-position: top center;
		background-repeat: no-repeat;
		// firefox's background svg scaling is ugly. just use intrinsic size until that's fixed
		//background-size: 60% auto;
		//padding-top: 0.5em;
		padding-top: 18px;
		margin-top: 6px;
	}

	& > :last-child {
		border-bottom: none;
	}

	h1 {
		margin: 0;
		color: $TSBP_COLOR_SCHEME_secondary_a_base;
		font-size: 115%;
		text-align: right;

		img {
			display: block;
			width: 100%;
		}
	}

	#solutionmeta {
		display: block;
		text-align: center;

		font-size: 65%;
		font-weight: 200;

		margin-top: 0;
		margin-bottom: 0.4em;
		padding-left: 8px;

		border-top: 1px solid rgba(0,0,0,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.3);

		& > * {
			margin: 0;
			text-align: left;

			&[tabindex] {
				cursor: pointer;
			}
		}

		& > :first-child {
			position: relative;

			&:after {
				position: absolute;
				left: -8px;
				width: 8px;
				top: 0;
				bottom: 0;
				content: "";
				
				background-image: url("images/expandarrow8.plain.svg");
				background-position: center center;
				background-repeat: no-repeat;

				opacity: 0.15;

				// TODO unify definition with other expanding arrows
				transition: transform 0.2s;
				-moz-transition: -moz-transform 0.2s;
				-webkit-transition: -webkit-transform 0.2s;
				-o-transition: -o-transform 0.2s;
			}

			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}

		& > table {
			width: 100%;
			table-layout: fixed;
			white-space: nowrap;

			th {
				text-align: right;
				// workaround for chrome bug 242041, fix for which doesn't seem to have made it everywhere yet
				font-weight: 400;
			}

			td {
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		& > .parentlinkcontainer {
			text-align: center;
			font-weight: bolder;
		}

		&:not(._expanded) {
			border-color: transparent;

			& > * {
				display: none;
			}

			& > :first-child {
				display: block;
			}
		}

		&._expanded {
			& > :first-child:after {
				transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
			}
		}
	}

	._solutionmasterpanel_tracklisting {
		margin: 0;
		padding-left: 0;

		h2,h3,h4,h5 {
			font-family: $bodyfontfamily;
			letter-spacing: inherit;
		}

		& > li {
			list-style: none;
			position: relative;

			$tracklistingentryindent: 1em;
			padding-left: $tracklistingentryindent;

			// these will be given color in their specializations but only when ._selected
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			border-right: 1px solid transparent;

			&:before {
				position: absolute;
				content: "";
				left: -$panelpadding;
				width: $tracklistingentryindent;

				// need to overlap tracklistingentry's border
				top: -1px;
				bottom: -1px;

				// this now set in individual color specializations
				//background-color: $TSBP_COLOR_SCHEME_primary_base;
			}

			h2 {
				font-weight: inherit;
				font-size: inherit;
				margin: 0;
				padding: 0;
			}

			.summarybar {
				position: relative;

				.expandswitcher {
					position: absolute;
					left: -($panelpadding + $tracklistingentryindent);
					width: $tracklistingentryindent;

					// need to overlap tracklistingentry's border
					top: -1px;
					bottom: -1px;

					overflow: hidden;

					cursor: pointer;

					&:after {
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						content: "";
						
						background-image: url("images/expandarrow.plain.svg");
						background-position: center center;
						background-repeat: no-repeat;

						opacity: 0.15;

						transition: transform 0.2s;
						-moz-transition: -moz-transform 0.2s;
						-webkit-transition: -webkit-transform 0.2s;
						-o-transition: -o-transform 0.2s;
					}

					&:hover {
						&:after {
							opacity: 1;
						}
					}
				}

				.summaryblock {
					display: table;
					width: 100%;
					table-layout: fixed;
		
					& > * {
						display: table-cell;
						vertical-align: top;
		
						&:last-child {
							text-align: right;
							width: 130px;
						}
					}
		
					.trackname {
						font-size: 70%;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						font-weight: 400;
					}
				}
			}

			.detail {
				display: none;
				padding-right: $panelpadding;

				h3 {
					margin: 0;
					padding: 0;
					font-weight: inherit;
					font-size: 90%;

					svg._tracklistingentry_detailpoint {
						margin-left: 0.2em;
						vertical-align: middle;

						._circle_cost {
							stroke: $TSBP_COST_COLOR_base;
						}

						._circle_nocost {
							stroke: $TSBP_NOCOST_COLOR_base;
						}
					}

					svg._tracklistingentry_detailintentpatch {
						vertical-align: middle;
						float: right;

						border: 1px solid #ccc;
					}
				}

				._tracklistingentry_detailcontent {
					font-size: 75%;
					font-weight: 400;

					th {
						font-weight: 600;
					}

					table {
						width: 100%;
					}

					& > :last-child {
						margin-bottom: 0.4em;
					}

					svg._velocity_direction_indicator {
						vertical-align: middle;
					}

					select {
						font-size: 85%;
					}
				}
			}

			&._expanded {
				.summarybar .expandswitcher:after {
					transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
				}

				.detail {
					display: block;
				}
			}

			@each $colorpair in $TSBP_COLOR_SCHEME {
				&._#{ nth($colorpair,1) } {
					&._selected {
						border-top-color: nth($colorpair,2);
						border-bottom-color: nth($colorpair,2);
						border-right-color: nth($colorpair,2);
					}

					&:before {
						background-color: nth($colorpair,2);
					}
				}
			}

			&._state_requesting {
				.detail ._tracklistingentry_detailcontent {
					min-height: 32px;
					background: $spinner32bg;

					& > * {
						opacity: 0.25;
					}
				}
			}
		}
	}

	.recalculatebutton {
		visibility: hidden;
	}

	&._solutionmap_with_intents .recalculatebutton {
		visibility: visible;
	}
}

._panel {
	background-color: $panelbackgroundcolor;
	padding: $panelpadding;

	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;

	box-shadow: 0 0.2em 0.8em rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0.2em 0.8em rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0.2em 0.8em rgba(0,0,0,0.2);

	text-align: left;

	button , a.fakebutton {
		display: inline-block;

		border: 1px solid #aaa;
		border-bottom-color: #999;
		border-top-color: #bbb;
	
		background: none;
	
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		
		margin-left: $buttonmargin;
		margin-right: $buttonmargin;
	
		padding: $buttonpadding_y $buttonpadding_x;
		white-space: nowrap;
		
		font-size: 100%;
		vertical-align: middle;
		text-decoration: none;
		overflow: hidden;
	
		color: #333 !important ;
	
		text-shadow: 0px 1px 2px white;
	
		cursor: default;
	
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);

		// defining this allows us to rely on it which is useful when trying to do stuff with the em unit
		line-height: $buttonlineheight;

		&:disabled , ._disabled {
			background-color: #aaa;
			opacity: 0.4;
		}

		&.fullwidth {
			display: block;
			margin-left: 0;
			margin-right: 0;
			text-align: center;
		}

		&.icononly {
			width: $buttonlineheight;
			padding: $buttonpadding_y;
			text-align: center;

			& > img {
				vertical-align: middle;
			}
		}

		&.linklike {
			// for situations where we want to give the user more of a hint that it can be used like a link
			cursor: pointer;
		}

		&._buttonlist_replacement {
			&:after {
				content: "";
				display: block;
				position: absolute;
				right: 1px;
				bottom: 1px;
				width: 4px;
				height: 4px;

				background-image: url("images/dropdownarrow.plain.svg");
			}
		}
	}

	a.fakebutton:visited {
		color: #333 !important ;
	}

	ul.buttonlist {
		display: inline-block;
		margin: 0;
		list-style: none;

		position: absolute;
		visibility: hidden;
		z-index: 1;

		& > li {
			margin-top: 0.3em;

			&:first-child {
				margin-top: 0;
			}

			button , a.fakebutton {
				display: block;
			}

			button {
				width: 100%;
			}
		}

		// To apply to contained buttons/fakebuttons and buttonlist replacement buttons/fakebuttons which should follow the buttonlist.
		& + button , & + a.fakebutton , button , a.fakebutton {
			margin: 0;
			text-align: center;
			position: relative;
		}
	}
	
	&.note {
		border: 2px solid black;
		font-weight: 400;

		padding: $panelpadding * 1.5;

		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	
		-moz-box-shadow: 0 0.15em 0.3em rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 0.15em 0.3em rgba(0,0,0,0.2);
		box-shadow: 0 0.15em 0.3em rgba(0,0,0,0.2);

		& > p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.messagestack {
	display: inline-block;
	width: 30em;

	& > ._panel {
		display: block !important;
	}
}


.buttonicon {
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;

	margin-right: $buttonpadding_x;

	&.recalculate {
		padding: 8px;
		background-image: url("images/recalculate.plain.svg");
	}
}


input[type='text'] {
	border: 1px solid #888;
	padding: 0.2em;
	
	-moz-box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.1);
	box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.1);

	font-family: $bodyfontfamily !important;
}


.noinfo {
	font-weight: lighter;
}


table {
	border-spacing: 0;
}


ul.errorlist {
	padding: 0.5em;
	margin: 0.5em;
	list-style: none;
	background-color: $TSBP_COLOR_SCHEME_complementary_verylight;
}


// for tipsy-tooltipped elements, which lose their title attribute when taken over
abbr {
	&[original-title] {
		border-bottom: 1px dotted black;
	}
}


.tipsy {
	padding: $tooltipbeardlength;
	font-weight: 400;
	position: absolute;
	z-index: 100000;

	.tipsy-inner {
		font-size: 75%;
		padding: 0.4em;
		background-color: white;
		color: black;
		border: 2px solid black;
		max-width: 15em;
		text-align: left;
	}

	.tipsy-arrow {
		position: absolute;
		background: url("images/beardbw.plain.svg");
		background-repeat: no-repeat;
		width: $tooltipbeardlength * 2;
		height: $tooltipbeardlength;
	}

	&.tipsy-ne , &.tipsy-se {
		.tipsy-arrow {
			background: url("images/beardbw_split_e.plain.svg");
		}
	}

	&.tipsy-nw , &.tipsy-sw {
		.tipsy-arrow {
			background: url("images/beardbw_split_w.plain.svg");
		}
	}

	&.tipsy-n .tipsy-arrow {
		top: 2px;
		left: 50%;
		margin-left: -$tooltipbeardlength;
		background-position: top center;
	}

	&.tipsy-s .tipsy-arrow {
		bottom: 2px;
		left: 50%;
		margin-left: -$tooltipbeardlength;
		background-position: bottom center;
	}

	&.tipsy-nw .tipsy-arrow {
		top: 2px;
		left: $tooltipbeardlength;
		background-position: top left;
	}

	&.tipsy-sw .tipsy-arrow {
		bottom: 2px;
		left: $tooltipbeardlength;
		background-position: bottom left;
	}

	&.tipsy-ne .tipsy-arrow {
		top: 2px;
		right: $tooltipbeardlength;
		background-position: top right;
	}

	&.tipsy-se .tipsy-arrow {
		bottom: 2px;
		right: $tooltipbeardlength;
		background-position: bottom right;
	}

	&.tipsy-e .tipsy-arrow {
		top: 50%;
		margin-top: -$tooltipbeardlength;
		right: 2px;
		width: $tooltipbeardlength;
		height: $tooltipbeardlength * 2;
		background-position: right;
	}

	&.tipsy-w .tipsy-arrow {
		top: 50%;
		margin-top: -$tooltipbeardlength;
		left: 2px;
		width: $tooltipbeardlength;
		height: $tooltipbeardlength * 2;
		background-position: left;
	}
}

._contextmenu {
	position: absolute;
	background-color: white;
	border: 2px solid black;
	z-index: 4500;
	margin: 1em;
	padding: 0;

	&:focus {
		outline: none;
	}

	&._state_disabled {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	button {
		display: block;
		text-align: left;
		width: 100%;
		background: none;
		border: none;
		color: #333;
		padding: 0.4em;
		margin: 0;
		border-bottom: 1px solid #888;

		&:last-child {
			border-bottom: none;
		}

		&:focus {
			background-color: $TSBP_COLOR_SCHEME_secondary_a_dark ;
			color: white;
			outline: none;
		}
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		
		top: 100%;
		height: $tooltipbeardlength;
		left: -2px;
		right: -2px;

		background-image: url("images/beardbw.plain.svg");
		background-repeat: no-repeat;
		background-position: bottom;
	}

	&[data-contextmenu-alignment='sw']:after {
		background-position: bottom left;
		background-image: url("images/beardbw_split_w.plain.svg");
	}

	&[data-contextmenu-alignment='se']:after {
		background-position: bottom right;
		background-image: url("images/beardbw_split_e.plain.svg");
	}
}

.candidatepoints {
	transition: transform 0.15s ease-in;
	-moz-transition: -moz-transform 0.15s ease-in;
	-webkit-transition: -webkit-transform 0.15s ease-in;
	-o-transition: -o-transform 0.15s ease-in;

	&.initial {
		transform: scale( 0.1 );
		-moz-transform: scale( 0.1 );
		-webkit-transform: scale( 0.1 );
		-o-transform: scale( 0.1 );
		-ms-transform: scale( 0.1 );

		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
	}

	& > * {
		opacity: 0.2;

		circle {
			transition: transform 0.1s linear;
			-moz-transition: -moz-transform 0.1s linear;
			-webkit-transition: -webkit-transform 0.1s linear;
			-o-transition: -o-transform 0.1s linear;
		}

		&:nth-child(5n+1) {
			line {
				stroke-dasharray: 16,4,17,4,46,6,19,3,49,6,13,6;
			}
		}

		&:nth-child(5n+2) {
			line {
				stroke-dasharray: 42,3,13,4,38,4,31,3,13,5,46,3;
			}
		}

		&:nth-child(5n+3) {
			line {
				stroke-dasharray: 11,4,10,6,64,6,18,5,15,4,61,4;
			}
		}

		&:nth-child(5n+4) {
			line {
				stroke-dasharray: 10,4,7,3,33,5,28,6,49,6,16,4;
			}
		}

		&:nth-child(5n+5) {
			line {
				stroke-dasharray: 31,6,12,5,63,6,48,3,58,5,64,6;
			}
		}


		&:nth-child(7n+1) {
			line {
				stroke-dashoffset: 12;
			}
		}

		&:nth-child(7n+2) {
			line {
				stroke-dashoffset: 78;
			}
		}

		&:nth-child(7n+3) {
			line {
				stroke-dashoffset: 43;
			}
		}

		&:nth-child(7n+4) {
			line {
				stroke-dashoffset: 27;
			}
		}

		&:nth-child(7n+5) {
			line {
				stroke-dashoffset: 63;
			}
		}

		&:nth-child(7n+6) {
			line {
				stroke-dashoffset: 0;
			}
		}

		&:nth-child(7n+7) {
			line {
				stroke-dashoffset: 39;
			}
		}


		&:hover {
			opacity: 0.5;

			// hovered points shouldn't be dashed
			line {
				stroke-dasharray: none;
			}

			// a fancy little effect
			circle {
				transform: scale( 1.5 );
				-moz-transform: scale( 1.5 );
				-webkit-transform: scale( 1.5 );
				-o-transform: scale( 1.5 );
				-ms-transform: scale( 1.5 );
			}
		}

		&.pinned {
			opacity: 0.4;
			stroke-width: 1.5;

			// pinned points shouldn't be dashed
			line {
				stroke-dasharray: none;
			}
		}
	}
}
