{% extends "tsbp/root_template.xhtml" %}

{% block body %}
<form action="" method="POST" class="_modaldialog solve">
	<div class="_panelpositioner">
		<div class="messagestack">
			<div class="_panel">
				<h3>Analyze GPS trace</h3>
				<div class="body form">
					{{ form.non_field_errors }}
					<table><tbody>
						<tr>
							<th>
								{{ form.osm_trace_id.label_tag }}: 
							</th>
							<td>
								{{ form.osm_trace_id.errors }}{{ form.osm_trace_id }}
							</td>
						</tr>
						<tr>
							<th>
								{{ form.transport_type.label_tag }}: 
							</th>
							<td>
								{{ form.transport_type.errors }}{{ form.transport_type }}
							</td>
						</tr>
					</tbody></table>
				</div>
				<div class="buttonbar">
					<a href="http://wiki.openstreetmap.org/wiki/That_Shouldnt_Be_Possible#FAQ" class="notbutton">Help</a>
					<button type="submit">
						Calculate
					</button>
				</div>
			</div>
		{% if TSBP_INTRO_BANNER_TEXT %}
			<div class="_panel note">
				{{ TSBP_INTRO_BANNER_TEXT }}
			</div>
		{% endif %}
		</div>
	</div>
</form>
{% endblock body %}
