{% load compressed %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
{% block head %}
		<title>{% block title %}That Shouldn't Be Possible™{% endblock %}</title>
	{% block link %}
		{% block favicons %}
			<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/16tsbp_favicon.png" />
		{% endblock %}
		{% block css %}
			<link type="text/css" href="{{ STATIC_URL }}fonts/playball/stylesheet.css" rel="stylesheet" />
			<link type="text/css" href="{{ STATIC_URL }}fonts/titillium/stylesheet.css" rel="stylesheet" />
			{% compressed_css "tsbp" %}
		{% endblock %}
	{% endblock %}
	{% block script %}
			<script type="text/javascript">
//<![CDATA[
// Set these as runtime js parameters
// note these are being set now, before onready.
window.STATIC_URL = "{{ STATIC_URL|escapejs }}";
//]]>
			</script>
			{% block extra_script %}{% endblock %}
	{% endblock %}
	{% block meta_outer %}
		<meta name="description" content="{% block meta_description %}{% endblock %}"/>
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
	{% endblock %}
	{% block extrahead %}{% endblock extrahead %}
{% endblock %}
	</head>
	<body id="rootbody" class="{% block bodyclass %}{% endblock %}">
{% block body %}
{% endblock %}
	</body>
</html>
