{% extends "tsbp/root_template.xhtml" %}
{% load compressed %}

{% block css %}
	{% compressed_css "leaflet" %}
{{ block.super }}
	<style type="text/css">
		/* this needs to be in-document for now until bugs such as http://code.google.com/p/chromium/issues/detail?id=109212 are fixed */
		svg._tracklistingentry_detailpoint {
			filter: url("#shadowfilter");
		}

		svg ._intent_excluded {
			fill: {{ TSBP_COST_COLOR.base }};
			fill-opacity: 0.3;
		}
		svg ._intent_base {
			/* not none as that would alter the reported dimensions of the object and screw up tooltips etc */
			fill: rgba(0,0,0,0);
		}
		svg ._intent_try {
			fill: black;
			fill-opacity: 0.07;
		}
		svg ._intent_tryhard {
			fill: black;
			fill-opacity: 0.135;
		}
		svg ._intent_untry {
			fill: url("#costoverviewuntrystripespattern");
			fill-opacity: 0.07;
		}
		svg ._intent_untryhard {
			fill: url("#costoverviewuntrystripespattern");
			fill-opacity: 0.135;
		}
		svg ._intent_ignoretryhard , svg ._intent_ignoretry , svg ._intent_ignorebase , svg ._intent_ignoreuntry , svg ._intent_ignoreuntryhard {
			fill: url("#costoverviewignorestripespattern");
			fill-opacity: 0.3;
		}
	</style>
{% endblock css %}

{% block title %}{{ solution.trace_activation.name }} - {{ block.super }}{% endblock title %}

{% block extra_script %}
{% compressed_js "jquery" %}
<script type="text/javascript">
//<![CDATA[

$.extend ( window , {{ TSBP_COLORS_JSON|safe }} ); // not totally safe

//]]>
</script>
{% compressed_js "alltsbp" %}
<script type="text/javascript">
//<![CDATA[
$( function ()
{
	var map = new L.Map ( "map" );
	var osm_layer = new L.TileLayer ( "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" , {
		attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, <a href='http://opendatacommons.org/licenses/odbl/'>ODbL</a>",
		maxZoom: 19 ,
		opacity: 0.35
	} );
	map.addLayer ( osm_layer );

	var cm = window.tsbp.ContextMenu ( $("#contextmenu") );
	var rf = window.tsbp.RecalculateForm ( $("#recalculate") );
	var smp = window.tsbp.SolutionMasterPanel ( $("#masterpanel") );

	var simplified_track_base_style = {
		"weight" : 3 ,
		"opacity" : 1.0
	};

	var hcc = $.color.parse ( window.TSBP_COST_COLOR.base );

	var detailed_track_base_style = {
		"weight" : 4 ,
		"opacity" : 1.0
	};

	// simple (temporary?) hack to make old geckos not break completely because of the svg filter
	if ( ! ( $.browser.mozilla && parseFloat ( $.browser.version ) < 2.0 ) )
	{
		simplified_track_base_style["containerfilter"] = detailed_track_base_style["shadowfilter"] = "url(#shadowfilter)";
		detailed_track_base_style["selectedfilter"] = "url(#selectedblurfilter)";
	}

	var simplified_track_geojson = {
		"type" : "FeatureCollection" ,
		"features" : [
		{% for solution_track in solution.solutiontrack_set.all %}
			{
				"type" : "Feature" ,
				"geometry" : {% if solution_track.get_outcome_display == "unsolvable" %}{% if solution_track.all_points_bbox_extents %}{{ solution_track.all_points_bbox_extents.json|safe }}{% else %}null{% endif %}{% else %}{{ solution_track.simplified_linestring.json|safe }}{% endif %} ,
				"properties" : {
					"track_index" : {{ solution_track.track_index }}
				}
			} {% if not forloop.last %},{% endif %}
		{% endfor %}
		]
	};
	var solution_map = tsbp.SolutionMap ( $("#solutionmap") , map , simplified_track_geojson , simplified_track_base_style , detailed_track_base_style , cm , smp );

	$("._solutionmasterpanel_tracklisting .expandswitcher").on ( "click" , function ()
	{
		$(this).trigger ( "toggleExpanded" );
	} );

	$("#solutionmeta").on ( "click" , "> :first-child , > :first-child *" , function ( event )
	{
		$(event.delegateTarget).toggleClass ( "_expanded" );
	} );

	solution_map.one ( "intentsUpdate" , function ( event )
	{
		$(".recalculatebutton").tipsy ( "show" );
	} );

	tsbp.ButtonList ( $("#editbuttonlist") );

	$("#masterpanel .buttonbar [title] , #solutionmeta [title]").tipsy ( tsbp.tsbp_tipsy_parameters );
	$(window).trigger ( "hashchange" , [ { "zoom_map" : true } ] );
} );
//]]>
</script>
{% endblock extra_script %}

{% block body %}
	<div id="solutionmap">
		<div id="map">
		</div>
		<menu id="contextmenu" class="initially_undisplayed" tabindex="0">
			<button type="button" value="zoomto">Zoom to</button>
			<button type="button" value="selectbefore">Select before</button>
			<button type="button" value="selectafter">Select after</button>
			<button type="button" name="intent_transition" value="ignore">Ignore point<span class="_contextmenu_only_plural">s</span></button>
			<button type="button" name="intent_transition" value="unignore">Un-ignore point<span class="_contextmenu_only_plural">s</span></button>
			<button type="button" name="intent_transition" value="try_">Try harder here</button>
			<button type="button" name="intent_transition" value="untry">Try less hard here</button>
		</menu>
		<menu id="pinningcontextmenu" class="initially_undisplayed" tabindex="0"></menu>
		<div id="masterpanel" class="initially_undisplayed _panel">
			<h1><img src="{{ STATIC_URL }}images/bannerlogo.plain.svg" alt="That Shouldn't Be Possible™"/></h1>
			<aside id="solutionmeta">
				<p tabindex="0">Solution against OSM state at {{ solution.planet_revision.state_timestamp|date:"DATETIME_FORMAT" }}</p>
				<table><tbody>
					<tr>
						<th>
							From OSM trace:
						</th>
						<td title="{{ solution.trace_activation.trace.id }} ({{ solution.trace_activation.name }})">
							{{ solution.trace_activation.trace.id }} ({{ solution.trace_activation.name }})
						</td>
					</tr>
					<tr>
						<th>
							Transport type:
						</th>
						<td>
							{{ solution.trace_activation.get_transport_type_display }}
						</td>
					</tr>
				</tbody></table>
			{% if solution.parent_solution %}
				<p class="parentlinkcontainer">
					<a href="{{ solution.parent_solution.get_absolute_url }}">Parent solution</a>
				</p>
			{% endif %}
			</aside>
			<nav>
			{% for solution_track in solution.solutiontrack_set.all %}
			{% if forloop.first %}<ol class="_solutionmasterpanel_tracklisting">{% endif %}
				<li data-track-index="{{ solution_track.track_index }}">
					<div class="summarybar">
						<div class="expandswitcher" tabindex="0"></div>
						<div class="summaryblock">
							<div>
								<h2><a href="#track-{{ solution_track.track_index }}">Track {{ solution_track.track_index }}</a></h2>
								{% if solution_track.metadata.name %}<div class="trackname">{{ solution_track.metadata.name }}</div>{% endif %}
							</div>
							<div>
								<a href="#track-{{ solution_track.track_index }}"><svg id="track_{{ solution_track.track_index }}_cost_overview" width="136px" height="32px" data-fit-x="127" data-fit-y="23" class="_tracklistingentry_costoverview">
								{% if solution_track.cost_overview_cost_json %}
									<g transform="translate ( 4 , 3 )">
										<path data-label="anytry" data-series-type="block" class="_costoverview_series _intent_try"/>
										<path data-label="tryhard" data-series-type="block" class="_costoverview_series _intent_try"/>
										<path data-label="anyuntry" data-series-type="block" class="_costoverview_series _intent_untry"/>
										<path data-label="untryhard" data-series-type="block" class="_costoverview_series _intent_untry"/>
										<path data-label="anyignore" data-series-type="block" class="_costoverview_series _intent_ignorebase"/>
									</g>
									<g filter="url(#shadowfilter)">
										<g transform="translate ( 4 , 3 ) translate ( 0.5 , 24 ) scale ( 1 , -1 )">
											<path fill="none" stroke="url(#costoverviewcostgradient)" stroke-width="2px" stroke-linejoin="round" data-src="{{ solution_track.cost_overview_cost_json }}" data-label="cost" data-series-type="line" class="_costoverview_series"/>
										</g>
									</g>
									<g transform="translate ( 4 , 3 )">
										<path data-src="{{ solution_track.cost_overview_nulls_json }}" data-label="nulls" data-series-type="block" class="_costoverview_series _intent_excluded"/>
									</g>
								{% endif %}
								{% if solution_track.get_outcome_display != "success" %}
									<text opacity="0.75">
										<tspan x="68px" y="16px" fill="none" stroke="#fff" stroke-width="3px" text-anchor="middle" dominant-baseline="middle">{{ solution_track.get_outcome_display }}</tspan>
										<tspan x="68px" y="16px" fill="{{ TSBP_NOCOST_COLOR.base }}" text-anchor="middle" dominant-baseline="middle">{{ solution_track.get_outcome_display }}</tspan>
									</text>
								{% endif %}
								</svg></a>
							</div>
						</div>
					</div>
					<div class="detail">
						<h3 class="_tracklistingentry_detailheading"></h3>
						<div class="_tracklistingentry_detailcontent"></div>
					</div>
				</li>
			{% if forloop.last %}</ol>{% endif %}
			{% endfor %}
			</nav>
			<div class="buttonbar">
				<div class="buttongroup left">
					<ul id="editbuttonlist" class="buttonlist">
						<li>
							<a href="#" class="_solutionmasterpanel_editlink fakebutton icononly linklike" title="Edit area in OpenStreetMap"><img width="16" height="16" alt="E" src="{{ STATIC_URL }}images/editosmicon.plain.svg"/></a>
						</li>
						<li>
							<button class="icononly" type="button" name="editremotecontrol" title="Edit area using remotecontrol"><img width="16" height="16" alt="R" src="{{ STATIC_URL }}images/editremotecontrolicon.plain.svg"/></button>
						</li>
					</ul>
					<a href="http://wiki.openstreetmap.org/wiki/That_Shouldnt_Be_Possible#FAQ" class="notbutton">Help</a>
				</div>
				<div class="buttongroup right">
					<a href="#recalculate" class="fakebutton recalculatebutton" title="When you've marked the tracks to your satisfaction, recalculate solution from the given hints"><span class="buttonicon recalculate"></span>Recalculate&hellip;</a>
				</div>
			</div>
		</div>
		<form id="recalculate" action="{{ solution.get_recalculate_url }}" method="POST" class="initially_undisplayed">
			<input type="hidden" name="intents"/>
			<div class="_panelpositioner">
				<div class="_panel">
					<h3>Recalculate solution</h3>
					<div class="body">
						<table><tbody>
						{% for solutiontrack in solution.solutiontrack_set.all %}
							<tr>
								<td>
									<label for="track_{{ solutiontrack.track_index }}_weight_select">
										Track {{ solutiontrack.track_index }}
									</label>
								</td>
								<td>
									<select id="track_{{ solutiontrack.track_index }}_weight_select" name="tracks__{{ solutiontrack.track_index }}__weight">
										<option value="0">None</option>
										<option value="1">Some</option>
										<option value="2">Plenty</option>
									</select>
								</td>
								<td>
									<svg width="136px" height="32px"><use xlink:href="#track_{{ solutiontrack.track_index }}_cost_overview"/></svg>
								</td>
							</tr>
						{% endfor %}
						</tbody></table>
					</div>
					<div class="buttonbar">
						<a href="#" class="fakebutton">Cancel</a>
						<button type="submit">
							<span class="buttonicon recalculate"></span>Recalculate
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<svg>
		<!-- see above included css for why this svg is in-document -->
		<defs>
			<filter id="shadowfilter" x="-100%" y="-100%" width="300%" height="300%">
				<!-- I gather implementations tend to be smart about the actual calculated filter region so I'm being over-generous with the region here so we don't get nasty clipping -->
				<feOffset result="offOut" in="SourceAlpha" dx="0" dy="2"/>
				<feColorMatrix result="matrixOut" in="offOut" type="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 0.3 0"/>
				<feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="1.3"/>
				<feBlend in="SourceGraphic" in2="blurOut" mode="normal"/>
			</filter>
			<filter id="selectedblurfilter" x="-100%" y="-100%" width="300%" height="300%">>
				<feGaussianBlur stdDeviation="1.8"/>
			</filter>
			<linearGradient id="costoverviewcostgradient" gradientUnits="userSpaceOnUse" x1="0" x2="0" y1="0" y2="24px">
				<stop offset="0%" stop-color="{{ TSBP_NOCOST_COLOR.base }}"/>
				<stop offset="100%" stop-color="{{ TSBP_COST_COLOR.base }}"/>
			</linearGradient>
			<pattern id="costoverviewuntrystripespattern" patternUnits="userSpaceOnUse" x="0" y="0" width="12" height="12">
				<g stroke="black">
					<path id="costoverviewbasestripespath" d="M-1 -1L13 13M6 -6L18 6M-6 6L6 18" stroke-width="4.24"/>
				</g>
			</pattern>
			<pattern id="costoverviewignorestripespattern" patternUnits="userSpaceOnUse" x="0" y="0" width="12" height="12">
				<g stroke="{{ TSBP_COST_COLOR.base }}">
					<use xlink:href="#costoverviewbasestripespath"/>
				</g>
			</pattern>
		</defs>
	</svg>
{% endblock body %}
