<table><tbody>
	<tr>
		<th>
			Timestamp:
		</th>
		<td>
			<time>{{ solutiontrackpoint.timestamp|date:"c" }}</time>
		</td>
	</tr>
	<tr>
		<th>
			<abbr>HDOP</abbr>:
		</th>
		<td>
			{% if solutiontrackpoint.metadata.original_hdop == None %}
				<span class="noinfo">Unknown</span>
			{% else %}
				{{ solutiontrackpoint.metadata.original_hdop }}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>
			<abbr title="Estimated instantaneous velocity">Velocity</abbr>:
		</th>
		<td>
		{% if velocity_magnitude %}
			<svg width="12" height="12" class="_velocity_direction_indicator">
				<g transform="rotate ( {{ velocity_angle_deg }} , 6 , 6 )">
					<path d="M6 0L9 8A3,3 0 1 1 3,8Z"/>
				</g>
			</svg>
		{% endif %}
			<span data-value="{{ velocity_magnitude }}" data-unit="mps" data-unit-type="velocity" class="_dynamicunit">{{ velocity_magnitude|floatformat }}m/s</span>
		</td>
	</tr>
</tbody></table>
