@font-face {
    font-family: 'Playball';
    src: url('playball-regular-webfont.woff') format('woff'),
         url('playball-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
